{% extends "recipes/base_recipe.html" %}
{% load static %}


{% block content %}


{% block extra_css %}
<link rel="stylesheet" href=" {% static 'recipes/css/recipe_detail.css' %}" />
{% endblock %}




<div class="container">
  <div class="recipe-detail">
    <div class="left">
      <div class="time-exe">
        <p class="time">{{ recipe.time_of_execution }} min</p>
      </div>
      <img src="{{ recipe.img.url }}" alt="" />
    </div>
    <div class="right">
      <h2 class="recipe-name">{{ recipe.title }}</h2>
      <h3>Instructions</h3>
      <p class="description">{{ recipe.instructions }}</p>
      <p class="date">Date: {{ recipe.created_at|date:"F d, Y" }}</p>
    </div>
  </div>
</div>



{% endblock %}
