{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href=" {% static 'users/css/login.css' %}" />
  </head>
  <body>
    <div class="register-wrapper">
      <div class="left">
        <img src="{% static 'users/images/bg2.jpg' %}" alt="" />
        <div class="overlay">
          <h1>Recipe Land</h1>
        </div>
      </div>

      <div class="right">
        <h2>Login</h2>
        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
       {% endif %}
        <form method="post">
          {% csrf_token %}

          <div class="input">
            <label class="label-name label">Name</label>
            
            {{ form.username|add_class:"input-name" }}
          </div>

          <div class="input2">
            <label class="label-paswword label">Password</label>
            
            {{ form.password|add_class:"input-pasword" }}
          </div>

         
          <button type="submit" class="btn-register">Login</button>
        </form>
        
      </div>
    </div>
  </body>